.slide {
  display: none;
  object-fit: contain;

  @media (orientation: landscape) {
    height: 100%;
  }

  @media (orientation: portrait) {
    width: 100%;
  }
}

.slide._active {
  display: block;
}
